<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Video</title>
    <link rel="stylesheet" href="video.css">
    
  </head>
  <body>
    <header class="text-gray-700 body-font">
      <div
        class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
      >
        <a
          class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
          href="/homepage"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
            viewBox="0 0 24 24"
          >
            <path
              d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"
            ></path>
          </svg>
          <span class="ml-3 text-xl">HeaLearn</span>
        </a>
        <nav
          class="md:ml-auto flex flex-wrap items-center text-base justify-center"
        >
          <a class="mr-5 hover:text-gray-900" href="/learn">Learn</a>
          <a class="mr-5 hover:text-gray-900" href="/video">Video</a>
          <a class="mr-5 hover:text-gray-900" href="/track">Track</a>
        </nav>
        <a href="../"
          ><button
            class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0"
          >
            LOGOUT
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 ml-1"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg></button
        ></a>
      </div>
    </header>
    <div class="containers">
      <div class="container-1">
        <video autoplay="true" id="videoElement"></video>
      </div>
      <button type="button" class="button" id="btn" onclick="cam_click()">
        Start camera
      </button>
      <div class="container-2">
        <video autoplay="true" id="videoElement1"></video>
      </div>
    </div>

    <script type="text/javascript">
      function cam_click() {
        var video = document.querySelector("#videoElement");
        var video1 = document.querySelector("#videoElement1");
        navigator.getUserMedia =
          navigator.getUserMedia ||
          navigator.webkitGetUsermedia ||
          navigator.mozGetUserMedia ||
          navigato.msGetUserMedia ||
          navigator.oGetUserMedia;

        if (navigator.getUserMedia) {
          navigator.getUserMedia({ video: true }, handleVideo, videoError);
        }

        function handleVideo(stream) {
          video.srcObject = stream;
          video.play();
        }

        function videoError(e) {}

        navigator.getUserMedia =
          navigator.getUserMedia ||
          navigator.webkitGetUsermedia ||
          navigator.mozGetUserMedia ||
          navigato.msGetUserMedia ||
          navigator.oGetUserMedia;

        if (navigator.getUserMedia) {
          navigator.getUserMedia({ video: true }, handleVideo1, videoError1);
        }

        function handleVideo1(stream) {
          video1.srcObject = stream;
          video1.play();
        }

        function videoError1(e) {}
      }
    </script>
  </body>
</html>
